/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body.app-body {
    background: linear-gradient(to bottom, #38bdf8, #e0f2fe);
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin: 16px 16px 16px 0;
    display: flex;
    flex-direction: column;
}


/* HEADER */
.app-header {
    background: #ffffff;
    width: 100%;
    border-radius: 16px;
    padding: 20px 24px;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting h2 {
    font-size: 22px;
    margin-bottom: 4px;
}

.greeting p {
    font-size: 15px;
    color: #9ca3af;
}

.avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e5e7eb;
}


/* SIDEBAR */
.sidebar {
    width: 240px;
    background-color: #ffffff;
    border-radius: 16px;
    margin: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* LOGO */
.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 25px 30px 20px;
}

.sidebar-logo-icon {
    font-size: 26px;
    color: #30AFD9;
}

.sidebar-logo-text {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
}

.sidebar-section {
    margin-bottom: 24px;
}

.sidebar-title {
    font-size: 12px;
    font-weight: 500;
    color: #9ca3af;
    margin-bottom: 10px;
}

/* ITEM */
.sidebar-item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px 12px;
    margin-bottom: 6px;

    font-size: 14px;
    color: #374151;
    text-decoration: none;
    border-radius: 8px;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-item i {
    width: 18px;
    text-align: center;
    font-size: 15px;
}

.sidebar-item:hover {
    background-color: #f3f4f6;
}

/* ACTIVE */
.sidebar-item.active {
    background-color: #e0f2fe;
    color: #0284c7;
    font-weight: 500;
}

.sidebar-item.active i {
    color: #0284c7;
}

.badge {
    margin-left: auto;
    min-width: 18px;
    height: 18px;
    padding: 0 6px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    font-weight: 600;
    color: #ffffff;

    background-color: #ef4444;
    border-radius: 999px;
}

/* LOGOUT */
.sidebar-item.logout {
    color: #dc2626;
}

.sidebar-item.logout:hover {
    background-color: #fee2e2;
}

/*TOOLBAR*/
.page-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 16px;
}


 /* SEARCH */
.search-box {
    position: relative;
    flex: 1;
}

.search-input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    max-width: 550px;
    margin-right: 8px;
}

/* DATE */
.page-date {
    font-size: 14px;
    color: #ffffff;
}

/* RIGHT */
.toolbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* FILTER */
.filter-box {
    position: relative;
}

/* BUTTON */
.filter-dropdown {
    position: relative;
}

.filter-dropdown summary {
    list-style: none;
    cursor: pointer;
}

.filter-dropdown summary::-webkit-details-marker {
    display: none;
}

/* PANEL */
.filter-panel {
    position: absolute;
    top: 42px;
    right: 0;

    width: 220px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    z-index: 50;
}

.filter-panel label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #374151;
    margin-bottom: 10px;
}

.filter-panel input {
    margin-top: 4px;
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    font-size: 13px;
}

.filter-actions {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    white-space: nowrap;
}

.btn-search,
.btn-filter,
.btn-tambah,
.btn-edit {
    background: #30AFD9;
    color: #ffffff;
    height: 35px;
}

.btn-search:hover,
.btn-filter:hover,
.btn-tambah:hover,
.btn-edit:hover {
     background: #2499be;
}

.btn-export {
    padding: 8px 10px;
    font-size: 16px;
    background: #30AFD9;
    color: #ffffff;
    height: 35px;
}

.btn-export:hover {
    background: #2499be;
}

.btn-primary {
    margin: 24px auto 0;
    width: 100%;
    max-width: fit-content;
    padding: 10px;
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0284c7;
}

/*REKAP.BLADE*/
.rekap-user {
    min-width: 160px;
    padding: 10px 14px;
    border-radius: 14px;
    background: #f9fafb;
    display: flex;
    align-items: center;
    gap: 10px;           
}

.rekap-user h2 {
    font-size: 18px;
    font-weight: 700;
    color: #111827; 
}

.rekap-summary {
    gap: 10px;
    display: flex;
    margin: 0;
    align-self: flex-start;
}   

.summary-card {
    padding: 10px 14px;
    border-radius: 14px;
    background: #f9fafb;
    min-width: 110px;
    flex-direction: column;
    gap: 2px;
    display: flex;
}

.summary-card .label {
    font-size: 12px;
    color: #6b7280;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.summary-card .value {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.summary-card.hadir .value {
    color: #16a34a;
}

.summary-card.tidak-hadir .value {
    color: #dc2626;
}

@media (max-width: 768px) {
    .page-toolbar {
        flex-direction: column;
        gap: 12px;
    }

    .toolbar-right {
        align-self: flex-end;
    }
}

/* FORM EDIT PROFILE */
.content-container {
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 900px;
    margin: 0 auto;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #374151;
    margin-bottom: 6px;
    row-gap: 10px;
}

.form-control {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #38bdf8;
    font-size: 14px;
}

.form-control:focus {
    outline: none;
    border-color: #0284c7;
}

.form-action {
    margin-top: auto;
}

@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}

.avatar2 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e5e7eb;
}

/*PROFIL ADMIN*/
.profile-page {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.profile-card {
    width: 100%;
    max-width: 420px;

    background: #ffffff;
    border-radius: 18px;
    padding: 28px 24px;

    box-shadow: 0 12px 28px rgba(0,0,0,0.08);
    text-align: center;
}

.profile-info {
    list-style: none;
    padding: 0;
    margin: 0 0 24px;
}

.profile-info li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    border-bottom: 1px solid #f1f5f9;
    font-size: 14px;
}

.profile-info li span:first-child {
    color: #6b7280;
}

.profile-info li span:last-child {
    font-weight: 600;
    color: #111827;
}