/* RESET SEDERHANA */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* BACKGROUND */
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #e0f2fe, #38bdf8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD LOGIN */
.auth-card {
    background: #ffffff;
    width:450px;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* JUDUL */
.auth-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #1f2937;
}

/* FORM */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #374151;
}

.form-group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #38bdf8;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #0284c7;
}

/* ERROR */
.form-error {
    color: #dc2626;
    font-size: 12px;
    margin-top: 4px;
}

/* BUTTON */
.btn-primary {
    display: block;
    margin: 24px auto 0;
    width: 160px;
    padding: 10px;
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0284c7;
}
